<div class="about-container">
  <h2 class="" style="padding: 1.5rem 0 0.5rem 0; margin: 0">Can Karaman</h2>
</div>

<div class="about-container">
  <p class="" style="padding: 0 0 1rem 0;">Software Engineer</p>
</div>
<div class="about-container">

  <div class="about-container">
    <div class="icon-container">

      <a class=".icon-item" href="https://www.linkedin.com/in/cankaraman/">
        <i data-toggle="tooltip" data-placement="bottom" title="Linkedin" class="fab fa-linkedin fa-2x" aria-hidden="true"></i>
      </a>

      <a class=".icon-item" href="https://github.com/cankaraman">
        <i data-toggle="tooltip" data-placement="bottom" title="Github" class="fab fa-github fa-2x" aria-hidden="true"></i>
      </a>

      <a class=".icon-item" href="https://stackoverflow.com/users/11311964/can">
        <i data-toggle="tooltip" data-placement="bottom" title="Stackoverflow" class="fab fa-stack-overflow fa-2x" aria-hidden="true"></i>
      </a>

    </div>
  </div>
</div>
<hr class="icon-line">
</div>